/* styles.css */
body {
    background-color: #f8f9fa; /* Light grey background */
}

.card-header h2 {
    margin-bottom: 0; /* Remove default margin on h2 in card header */
}

#startButton {
      /* Add a css background gradient that shimmers using animation like glass */
    background: linear-gradient(122deg, rgba(0, 128, 0, 0.8) 14%, rgba(34, 139, 34, 0.9) 24%, rgba(34, 139, 34, 0.9) 35%, rgba(34, 139, 34, 0.8) 41%, rgba(34, 139, 34, 0.8) 71%, rgba(255, 255, 255, .9) 116%);
      background-size: 200% 200%;
      margin: 5px;
      backdrop-filter: blur(2px);
      border: 1px #9c00005e solid;
      animation-name: gradient-rotate;
      animation-duration: 5s;
      animation-timing-function: cubic-bezier(0.6, 0.2, 0.4, 0.8);
      animation-iteration-count: infinite;
}
#stopButton{
    /* Add a css background gradient that shimmers using animation like glass */
    background: linear-gradient(122deg, rgba(255, 0, 0, 0.8) 14%, rgba(255, 69, 69, 0.9) 24%, rgba(255, 69, 69, 0.9) 35%, rgba(255, 69, 69, 0.8) 41%, rgba(255, 69, 69, 0.8) 71%, rgba(255, 255, 255, .9) 116%);
    background-size: 200% 200%;
    margin: 5px;
    backdrop-filter: blur(2px);
    border: 1px #9c00005e solid;
    animation-name: gradient-rotate;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.6, 0.2, 0.4, 0.8);
    animation-iteration-count: infinite;
}

@keyframes gradient-rotate {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}